<!DOCTYPE html>
<html>
<head>
    <title>主页45645</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--移动设备 viewport-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <meta name="author" content="admui.com">
    <!--360浏览器默认使用Webkit内核-->
    <meta name="renderer" content="webkit">
    <!--禁止搜索引擎抓取-->
    <meta name="robots" content="nofollow">
    <!--禁止百度SiteAPP转码-->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <!--Chrome浏览器添加桌面快捷方式（安卓）-->
    <link rel="icon" type="image/png" href="/adminui/public/images/favicon.png">
    <meta name="mobile-web-app-capable" content="yes">
    <!--Safari浏览器添加到主屏幕（IOS）-->
    <link rel="icon" sizes="192x192" href="/adminui/public/images/apple-touch-icon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Admui">
    <!--Win8标题栏及ICON图标-->
    <link rel="apple-touch-icon-precomposed" href="/adminui/public/images/apple-touch-icon.png">
    <meta name="msapplication-TileImage" content="/adminui/public/images/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#62a8ea">

    <!-- 图标 CSS -->
    <link rel="stylesheet" href="/fonts/glyphicons/glyphicons.css">
    <link rel="stylesheet" href="/adminui/public/fonts/font-awesome/font-awesome.css">
    <link rel="stylesheet" href="/adminui/public/fonts/web-icons/web-icons.css">
    <link rel="stylesheet" href="/adminui/public/fonts/themify/themify.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/adminui/public/themes/classic/global/css/bootstrap.css">
    <link rel="stylesheet" href="/adminui/public/vendor/bootstrap-select/bootstrap-select.css">

    <!-- Site CSS -->
    <link rel="stylesheet" href="/adminui/public/themes/classic/base/css/site.css" id="admui-siteStyle">

    <!-- 插件 CSS -->
    <link rel="stylesheet" href="/adminui/public/vendor/animsition/animsition.css">
    <link rel="stylesheet" href="/adminui/public/vendor/toastr/toastr.css">

    <link rel="stylesheet" href="/adminui/public/vendor/alertify-js/alertify.css">
    <!-- page CSS -->
    <link rel="stylesheet" href="/adminui/public/css/home.css">

    <link rel="stylesheet" href="/admin/css/admin.css">

    <!-- 插件 -->
    <script src="/adminui/public/vendor/jquery/jquery.min.js"></script>
    <script src="/adminui/public/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="/adminui/public/vendor/modernizr/modernizr.min.js"></script>
    <script src="/adminui/public/vendor/breakpoints/breakpoints.min.js"></script>
    <script src="/adminui/public/vendor/artTemplate/template.min.js"></script>

    <!--[if lte IE 9]>
    <meta http-equiv="refresh" content="0; url='http://www.admui.com/ie'"/>
    <![endif]--><!--[if lt IE 10]>
    <script src="/adminui/public/vendor/media-match/media.match.min.js"></script>
    <script src="/adminui/public/vendor/respond/respond.min.js"></script>
    <![endif]-->

    <!-- 核心 -->
    <script src="/adminui/public/themes/classic/base/js/site.js"></script>
    <script src="/adminui/public/themes/classic/global/js/configs/site-configs.js"></script>
    <script src="/adminui/public/themes/classic/global/js/components.js"></script>

    <link href="/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <script src="/plugins/bootstrap-table/bootstrap-table.min.js"></script>

    <script src="/plugins/jquery-validate/jquery.validate.min.js"></script>
    <script>
        Breakpoints();
    </script>
</head>