{include file="layout/header" /}
<body>
    {include file="layout/navbar" /}
    {include file="layout/menubar" /}

    <main class="site-page">
        <div class="page-container" id="admui-pageContent" style="border-top: 2px solid #e6e6e6;">
            <div class="page animation-fade page-blank">
                {if !empty($current_menu)}
                    <ol class="breadcrumb">
                        <?php foreach($current_menu as $k=>$v): ?>
                        <li><?php echo htmlentities($v['name']); ?></li>
                        <?php endforeach; ?>
                    </ol>
                {/if}
                <div class="page-content" style="padding-top: 0px">
                    <div class="panel">
                        <div class="panel-body nav-tabs-animate" id="panel-body">
                            {__CONTENT__}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    {include file="layout/footer" /}
<!-- 插件 -->
<script src="/adminui/public/themes/classic/global/js/plugins/responsive-tabs.js"></script>
<script src="/adminui/public/vendor/ashoverscroll/jquery-asHoverScroll.min.js"></script>
<script src="/adminui/public/vendor/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/adminui/public/vendor/screenfull/screenfull.min.js"></script>
<script src="/adminui/public/vendor/matchheight/jquery.matchHeight.min.js"></script>
<script src="/adminui/public/vendor/alertify-js/alertify.min.js"></script>



<!-- 消息通知 -->
<script src="/adminui/public/js/notify-msg.js"></script>
<script src="/adminui/public/vendor/toastr/toastr.js"></script>

<script src="/js/base.js"></script>
</body>
</html>