<link rel="stylesheet" href="/adminui/public/css/errors.css">
    <div class="page page-full vertical-align text-center animation-fade page-error">
        <div class="page-content vertical-align-middle">
            <header>
                <h1 class="animation-slide-top"><?php echo(!isset($code)|| empty($code))?'error':$code ?></h1>
                <p>{$msg}</p>
            </header>
            <button class="btn btn-outline btn-primary btn-round" id="closeTab" href="javascript:;">关闭当前页</button>
        </div>
    </div>
<script src="/adminui/public/js/error.js"></script>