<style>
    .widget-shadow{
        border: 1px solid #e1e1e1;
    }
</style>
<link rel="stylesheet" href="/adminui/public/vendor/morris-js/morris.css">

<link rel="stylesheet" href="/adminui/public/vendor/chartist-js/chartist.css">

<link rel="stylesheet" href="/adminui/public/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css">
<link rel="stylesheet" href="/adminui/public/css/examples/pages/home/ecommerce.css">

<div class="row" data-plugin="matchHeight" data-by-row="true">
    <div class="col-lg-3 col-sm-6 col-xs-12 info-panel">
        <div class="widget widget-shadow">
            <div class="widget-content bg-white padding-20">
                <button type="button" class="btn btn-floating btn-sm btn-warning">
                    <i class="icon wb-shopping-cart"></i>
                </button>
                <span class="margin-left-15 font-weight-400">订单数量</span>
                <div class="content-text text-center margin-bottom-0">
                    <i class="icon {$today.order_count>=$yestaday.order_count?'text-danger wb-triangle-up':' text-success wb-triangle-down'} font-size-20"> </i>
                    <span class="font-size-40 font-weight-100">{$today.order_count}</span>
                    <p class="blue-grey-400 font-weight-100 margin-0">昨日 {$yestaday.order_count}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-12 info-panel">
        <div class="widget widget-shadow">
            <div class="widget-content bg-white padding-20">
                <button type="button" class="btn btn-floating btn-sm btn-danger">
                    <i class="icon fa-yen"></i>
                </button>
                <span class="margin-left-15 font-weight-400">收入金额</span>
                <div class="content-text text-center margin-bottom-0">
                    <i class=" icon  {$today.order_price>=$yestaday.order_price?'text-danger wb-triangle-up':' text-success wb-triangle-down'}  font-size-20"> </i>
                    <span class="font-size-40 font-weight-100">¥{$today.order_price}</span>
                    <p class="blue-grey-400 font-weight-100 margin-0">昨日 ¥{$yestaday.order_price}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-6 col-xs-12 info-panel">
        <div class="widget widget-shadow">
            <div class="widget-content bg-white padding-20">
                <button type="button" class="btn btn-floating btn-sm btn-success">
                    <i class="icon wb-grid-4"></i>
                </button>
                <span class="margin-left-15 font-weight-400">商品数量</span>
                <div class="content-text text-center margin-bottom-0">
                    <i class="icon {$today.product_count>=$yestaday.product_count?'text-danger wb-triangle-up':' text-success wb-triangle-down'}  font-size-20"> </i>
                    <span class="font-size-40 font-weight-100">{$today.product_count}</span>
                    <p class="blue-grey-400 font-weight-100 margin-0">昨日 {$yestaday.product_count}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-12 info-panel">
        <div class="widget widget-shadow">
            <div class="widget-content bg-white padding-20">
                <button type="button" class="btn btn-floating btn-sm btn-primary">
                    <i class="icon wb-user"></i>
                </button>
                <span class="margin-left-15 font-weight-400">购买人数</span>
                <div class="content-text text-center margin-bottom-0">
                    <i class=" icon {$today.customer_count>=$yestaday.customer_count?'text-danger wb-triangle-up':' text-success wb-triangle-down'} font-size-20"> </i>
                    <span class="font-size-40 font-weight-100">{$today.customer_count}</span>
                    <p class="blue-grey-400 font-weight-100 margin-0">昨日 {$yestaday.customer_count}</p>
                </div>
            </div>
        </div>
    </div>


    <div class="col-ms-12 col-xs-12 col-md-12" id="ecommerceChartView">
        收入折线统计图
        <div class="widget widget-shadow">
            <div class="widget-header padding-20">
                <ul class="nav nav-pills nav-pills-rounded chart-action">
                    <li class="active">
                        <a data-toggle="tab" href="#scoreLineToWeek">本周</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#scoreLineToMonth">本月</a>
                    </li>
                </ul>
            </div>
            <div class="widget-content tab-content bg-white padding-20">
                <div class="ct-chart tab-pane active" id="scoreLineToWeek"></div>
                <div class="ct-chart tab-pane" id="scoreLineToMonth"></div>
            </div>
        </div>
    </div>
</div>

<script src="/adminui/public/vendor/chartist-js/chartist.js"></script>
<script src="/adminui/public/vendor/morris-js/morris.min.js"></script>
<script src="/adminui/public/vendor/raphael/raphael.min.js"></script>
<script src="/adminui/public/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.js"></script>



<script>
    (function () {
        "use strict";

        var ecommercePage = {
            run: function () {
                this.scoreChart();
            },
            scoreChart: function () {
                var scoreChart = function (id, labelList, series1List) {

                    var scoreChart = new Chartist.Line('#' + id, {
                        labels: labelList,
                        series: [series1List]
                    }, {
                        lineSmooth: Chartist.Interpolation.simple({
                            divisor: 2
                        }),
                        fullWidth: true,
                        chartPadding: {
                            right: 25
                        },
                        series: {
                            "series-1": {
                                showArea: true
                            },
                        },
                        axisX: {
                            showGrid: false
                        },
                        axisY: {
                            labelInterpolationFnc: function (value) {
                                return (value / 1000) + 'K';
                            },
                            scaleMinSpace: 40
                        },
                        plugins: [
                            Chartist.plugins.tooltip()
                        ],
                        low: 0,
                        height: 300
                    });
                    scoreChart.on('created', function (data) {
                        var defs = data.svg.querySelector('defs') || data.svg.elem('defs');

                        var filter = defs
                            .elem('filter', {
                                x: 0,
                                y: "-10%",
                                id: 'shadow' + id
                            }, '', true);

                        filter.elem('feBlend', {
                            in: "SourceGraphic",
                            mode: "multiply"
                        });

                        return defs;
                    }).on('draw', function (data) {
                        if (data.type === 'line') {
                            data.element.attr({
                                filter: 'url(#shadow' + id + ')'
                            });

                        } else if (data.type === 'point') {

                            var parent = new Chartist.Svg(data.element._node.parentNode);
                            parent.elem('line', {
                                x1: data.x,
                                y1: data.y,
                                x2: data.x + 0.01,
                                y2: data.y,
                                "class": 'ct-point-content'
                            });
                        }
                        if (data.type === 'line' || data.type === 'area') {
                            data.element.animate({
                                d: {
                                    begin: 1000 * data.index,
                                    dur: 1000,
                                    from: data.path.clone().scale(1, 0).translate(0, data.chartRect.height()).stringify(),
                                    to: data.path.clone().stringify(),
                                    easing: Chartist.Svg.Easing.easeOutQuint
                                }
                            });
                        }

                    });

                };

                var WeekLabelList = ['周一', '周二', '周三', '周四', '周五', '周六', '周日', ''];
                var WeekSeries1List = {
                    name: "series-1",
                    data: [18000, 37000, 41000, 29000, 58000, 75000, 43000]
                };

                var MonthLabelList = ["9.1", "9.2", "9.3", "9.4", "9.5", "9.6", "9.7"];
                var MonthSeries1List = {
                    name: "series-1",
                    data: [100000, 500000, 300000, 700000, 100000, 200000, 700000]
                };
                var createChart = function (button) {
                    var btn = button || $("#ecommerceChartView .chart-action").children(".active");

                    var chartId = btn.children("a").attr("href");
                    switch (chartId) {
                        case "#scoreLineToWeek":
                            scoreChart("scoreLineToWeek", WeekLabelList, WeekSeries1List);
                            break;
                        case "#scoreLineToMonth":
                            scoreChart("scoreLineToMonth", MonthLabelList, MonthSeries1List);
                            break;
                    }

                };

                createChart();
                $(".chart-action li").on("click", function () {
                    createChart($(this));
                });
            },
        };

        $(function () {
            ecommercePage.run();
        });

    })();
</script>


