.a {
    cursor:pointer !important;
}
.breadcrumb{
    line-height: 40px;
    margin: 0px;
    padding: 0px 20px;


}

/*.breadcrumb {*/
    /*height: 50px;*/
    /*background: #fff;*/
    /*line-height: 30px;*/
    /*margin: 0px 0px 10px;*/
    /*!* padding: 0px; *!*/
    /*!*border-top: 2px solid #e6e6e6;*!*/
/*}*/
.site-navbar{
    box-shadow: none;
}
.readonly{
    border: none;
    background: #fff !important;
    resize:none;
}
.required {
    color: #d6494b;
}

.multi-upload .upload-button,.multi-upload.preview_location{
    display: inline-block;
}

.multi-upload .preview{
    width: 200px;
    /*height: 100px;*/
    margin: 10px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
    background-color:#fff;
    cursor:auto;
}
.current_menu{
    background-color: rgba(255, 255, 255, .02) !important;
}
.current_menu a{
    color: rgba(255, 255, 255, .8) !important;
}

select::-ms-expand { display: none; }
textarea{
    resize:vertical;
    min-height: 60px !important;
}

.mfp-image-holder .mfp-content{
    max-width: 1200px !important;
}

.table thead tr th{
    background: #f0f4f5;
    text-align: center;
}

.control-label{
    text-align: right;
    padding: 5px 0px;
    margin-bottom: 0px;
}

input[type=number] {
    -moz-appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

table input.readonly {
    text-align: center;
}
table select.readonly {
    text-align-last: center;
}
.input-group-file{
    margin: 0 auto;
}
#actTable .select2-container--default.select2-container--disabled .select2-selection--single{background:none;cursor: auto;}
#actTable .select2-container--disabled .select2-selection{border:none;}
#actTable .select2-container--disabled .select2-selection__arrow{display: none;}


.btn-dark {
    color: #C9C9C9 !important;
    border-color: #C9C9C9 !important;
}
label.error{
    color: #e83636;
}


h4.btborder {
    border-bottom: 1px solid #e4eaec;
}
 .form-group > label.control-label {
    color: #666;
}
.file-input {
    position: relative;
}
.form-group input, textarea, select {
    color: #333;
}
.dropify-wrapper {
    border: 1px solid #e4eaec !important;
    margin-left: 7px;
}



/********修改主题样式开始 *******/
.site-menubar{
    background-color: #03152A !important;
}
.site-menu > .site-menu-item.open {
    background-color: rgba(0,0,0,.3)!important;
}
.current_menu a {
    background-color: #1E9FFF !important
}
.site-navbar {
    background-color: #03152A !important
}
.site-menu > .site-menu-item.open > a {
    background-color: rgba(0,0,0,.3)!important;
}
@media (min-width: 768px){
    .site-menubar-fold .site-menu > .site-menu-item > .site-menu-sub {
        background-color: #03152A !important;
    }
}
.site-menu > .site-menu-item {
    padding: 5px 0px;
}
.fixed-table-container{
    border: none !important;
}
.site-page{
    background: #f2f2f2 !important;
}
.btn-primary{
    color: #fff;
    background-color: #1E9FFF;
    border-color: #1E9FFF;
}

.btn-success {
    color: #fff;
     background-color: #009688;
     border-color: #009688;
}

.btn-warning {
    color: #fff;
    background-color: #FFB800;
    border-color: #FFB800;
}

.btn-outline.btn-primary{
    color: #1E9FFF;
    background-color: transparent;
}
.btn-outline.btn-success{
    color: #009688;
    background-color: transparent;
}
.btn-outline.btn-warning {
    color: #FFB800;
    background-color: transparent;
}
.btn-sm {
    padding: 1px 12px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 4px;
}

/********修改主题样式结束 *******/