<!--轮播图-->
<div class="banner">
    <div class="container">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!--<ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
            </ol>-->
            <div class="carousel-inner" id="carousel-inner">
                <div class="item active">
                    <img class="img-responsive" src="/frontend/images/contact.jpg">
                </div>
            </div>
            <!--<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>-->
        </div>
    </div>
</div>
<!--关于我们-->
<div class="iqbtcourses contactbox">
    <section class="container">
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <p class="pagebt"><span>关于我们</span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="pagebt1"><label>▌</label> 平台简介</p>
                        </div>
                    </div>
                    <div class="row contactbox1">
                        <div class="col-md-12">
                            <p>
                                壹能时空众创空间为创业者提供创业培训、公司注册、知识产权、法律服务、孵化入驻、品牌创建等创业系列服务。
                                壹能时空众创空间建立了育苗基地、实训基地、孵化基地、创客驿站、星创天地“五位一体”的立体孵化体系；形成
                                了商务秘书、品牌创建、文化传播、投智参股、平台裂变五种独特孵化模式；先后创成泰兴和泰州、江苏省级“创业
                                孵化示范基地”，并被认定为泰州市级众创空间、省级众创空间、国家级星创天地、江苏省三星级中小企业公共服务
                                示范平台、国家级众创空间。
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="pagebt1"><label>▌</label> 平台组成</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 contactbox1">
                            <img class="img-responsive" src="/frontend/images/composition.jpg">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="pagebt1"><label>▌</label> 壹能时空大事件</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 contactbox1">
                            <img class="img-responsive" src="/frontend/images/timeline.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>