<!--上传图片插件-->
<link rel="stylesheet" href="/adminui/public/vendor/dropify/dropify.css">
<div class="col-sm-2 "></div>
<div class="col-sm-8">
    <form  enctype="multipart/form-data" id="memo_form">

        <div class="form-group col-sm-12">
            <label class="col-sm-2 control-label padding-bottom-20"><span class="required">*</span> 品类名称：</label>
            <div class="col-md-8 padding-bottom-20">
                <input type="text" class="form-control"  name="name" value="" required>
            </div>
        </div>


        <div class="form-group col-sm-12">
            <label class="col-sm-2 control-label padding-bottom-20"><span class="required">*</span> 图片：</label>
            <div class="col-sm-8 padding-bottom-20">
                {:widget('common/form/image',['name'=>'img','role'=>'required'])}
            </div>
        </div>

        <div class="form-group col-sm-12">
            <label class="col-sm-2 control-label padding-bottom-20"><span class="required">*</span> 排序：</label>
            <div class="col-md-8 padding-bottom-20">
                <input type="number" class="form-control"  name="sort" value="1" required>
            </div>
        </div>

        <div class=" col-sm-12">
            <div class="example-wrap">
                <div class="nav-tabs-vertical" data-approve="nav-tabs">
                    <ul class="nav nav-tabs nav-tabs-line col-sm-2 text-right padding-right-0" role="tablist" style="height: 206px;">
                        <li class="active" role="presentation">
                            <a data-toggle="tab" href="#exampleTabsLineLeftOne" aria-controls="exampleTabsLineLeftOne" role="tab" aria-expanded="true">
                                <span class="required">*</span> 入驻步骤
                            </a>
                        </li>
                        <li role="presentation" class="">
                            <a data-toggle="tab" href="#exampleTabsLineLeftTwo" aria-controls="exampleTabsLineLeftTwo" role="tab" aria-expanded="false">
                                <span class="required">*</span> 入驻要求
                            </a>
                        </li>
                        <li role="presentation" class="">
                            <a data-toggle="tab" href="#exampleTabsLineLeftThree" aria-controls="exampleTabsLineLeftThree" role="tab" aria-expanded="false">
                                <span class="required">*</span> 费用说明
                            </a>
                        </li>
                        <li role="presentation" class="">
                            <a data-toggle="tab" href="#exampleTabsLineLeftFour" aria-controls="exampleTabsLineLeftFour" role="tab" aria-expanded="false">
                                <span class="required">*</span> 常见问题
                            </a>
                        </li>
                        <li class="dropdown hidden" role="presentation" style="opacity: 1;"><a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false"><span class="caret"></span> 更多</a><ul class="dropdown-menu" role="menu"></ul></li></ul>
                    <div class="tab-content padding-vertical-15 col-sm-10">
                        <div class="tab-pane active  animation-slide-right" id="exampleTabsLineLeftOne" role="tabpanel">
                            {:widget('common/form/richText',['name'=>'step','role'=>'required'])}
                        </div>
                        <div class="tab-pane animation-slide-right" id="exampleTabsLineLeftTwo" role="tabpanel">
                            {:widget('common/form/richText',['name'=>'require','role'=>'required'])}
                        </div>
                        <div class="tab-pane animation-slide-right" id="exampleTabsLineLeftThree" role="tabpanel">
                            {:widget('common/form/richText',['name'=>'cost','role'=>'required'])}
                        </div>
                        <div class="tab-pane animation-slide-right" id="exampleTabsLineLeftFour" role="tabpanel">
                            {:widget('common/form/richText',['name'=>'question','role'=>'required'])}
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group col-sm-12">
            <label class="col-sm-2 control-label padding-bottom-20"><span class="required">*</span> 是否显示：</label>
            <div class="col-md-10 padding-bottom-20">
                <div class="radio-custom radio-primary col-md-2 margin-top-5">
                    <input type="radio"  name="is_show" value="1" checked>
                    <label >是</label>
                </div>
                <div class="radio-custom radio-primary col-md-2 margin-top-5">
                    <input type="radio"  name="is_show" value="2" >
                    <label>否</label>
                </div>
            </div>
        </div>

        <div class="form-group margin-top-25 col-sm-12" style="text-align: center">
            <button type="button" class="btn btn-primary btn-outline btn-save" data-url="{:url('admin/enter_category/create')}" >
                <i class="icon wb-plus" aria-hidden="true"></i> 保存 </button>
        </div>
    </form>
</div>
<div class="col-sm-2 "></div>
<script src="/adminui/public/vendor/dropify/dropify.min.js"></script>
<script src="/plugins/wangEditor-3.1.1/release/wangEditor.min.js"></script>