<!--上传图片插件-->
<link rel="stylesheet" href="/adminui/public/vendor/dropify/dropify.css">
<script src="/adminui/public/vendor/dropify/dropify.min.js"></script>
<script src="/plugins/wangEditor-3.1.1/release/wangEditor.min.js"></script>
<div class="col-sm-2 "></div>
<div class="col-sm-8">
    <form  enctype="multipart/form-data" id="edit_form" hidden>
        <div class="form-group col-sm-12">
            <label class="col-sm-2 control-label padding-bottom-20"><span class="required">*</span> 品类名称：</label>
            <div class="col-md-8 padding-bottom-20">
                <input type="text" class="form-control"  name="name" value="{$data['name']}" required>
            </div>
        </div>

        <div class="form-group col-sm-12">
            <label class="col-sm-2 control-label padding-bottom-20"><span class="required">*</span> 图片：</label>
            <div class="col-sm-8 padding-bottom-20">
                {:widget('common/form/image',['name'=>'img','url'=>$data->sys_file?$data->sys_file->save_path:'','value'=>$data['img'],'role'=>'required'])}
            </div>
        </div>

        <div class="form-group col-sm-12">
            <label class="col-sm-2 control-label padding-bottom-20"><span class="required">*</span> 排序：</label>
            <div class="col-md-8 padding-bottom-20">
                <input type="number" class="form-control"  name="sort" value="{$data['sort']}" required>
            </div>
        </div>
        <div class="example-wrap">
            <div class="nav-tabs-vertical" data-approve="nav-tabs">
                <ul class="nav nav-tabs nav-tabs-line col-sm-2 text-right padding-right-0" role="tablist" style="height: 206px;">
                    <li class="active" role="presentation">
                        <a data-toggle="tab" href="#editTabsLineLeftOne" aria-controls="editTabsLineLeftOne" role="tab" aria-expanded="true">
                            <span class="required">*</span> 入驻步骤
                        </a>
                    </li>
                    <li role="presentation" class="">
                        <a data-toggle="tab" href="#editTabsLineLeftTwo" aria-controls="editTabsLineLeftTwo" role="tab" aria-expanded="false">
                            <span class="required">*</span> 入驻要求
                        </a>
                    </li>
                    <li role="presentation" class="">
                        <a data-toggle="tab" href="#editTabsLineLeftThree" aria-controls="editTabsLineLeftThree" role="tab" aria-expanded="false">
                            <span class="required">*</span> 费用说明
                        </a>
                    </li>
                    <li role="presentation" class="">
                        <a data-toggle="tab" href="#editTabsLineLeftFour" aria-controls="editTabsLineLeftFour" role="tab" aria-expanded="false">
                            <span class="required">*</span> 常见问题
                        </a>
                    </li>
                </ul>
                <div class="tab-content padding-vertical-15 col-sm-10">
                    <div class="tab-pane active " id="editTabsLineLeftOne" role="tabpanel">
                        {:widget('common/form/richText',['name'=>'step','value'=>$data['step'],'role'=>'required'])}
                    </div>
                    <div class="tab-pane animation-slide-right" id="editTabsLineLeftTwo" role="tabpanel">
                        {:widget('common/form/richText',['name'=>'require','value'=>$data['require'],'role'=>'required'])}
                    </div>
                    <div class="tab-pane animation-slide-right" id="editTabsLineLeftThree" role="tabpanel">
                        {:widget('common/form/richText',['name'=>'cost','value'=>$data['cost'],'role'=>'required'])}
                    </div>
                    <div class="tab-pane animation-slide-right" id="editTabsLineLeftFour" role="tabpanel">
                        {:widget('common/form/richText',['name'=>'question','value'=>$data['question'],'role'=>'required'])}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group col-sm-12">
            <label class="col-sm-2 control-label padding-bottom-20"><span class="required">*</span> 是否显示：</label>
            <div class="col-md-10 padding-bottom-20">
                <div class="radio-custom radio-primary col-md-2 margin-top-5">
                    <input type="radio"  name="is_show" value="1" {$data->getData('is_show') !=2?'checked':''}>
                    <label >是</label>
                </div>
                <div class="radio-custom radio-primary col-md-2 margin-top-5">
                    <input type="radio"  name="is_show" value="2" {$data->getData('is_show')==2?'checked':''}>
                    <label>否</label>
                </div>
            </div>
        </div>

        <div class="form-group margin-top-25 col-sm-12" style="text-align: center">
            <button type="button" class="btn btn-primary btn-outline btn-save" data-url="{:url('admin/enter_category/edit',['id'=>$data['id']])}" >
                <i class="icon wb-plus" aria-hidden="true"></i> 保存 </button>
        </div>
    </form>
</div>
<div class="col-sm-2 "></div>



