<div class="example">
    <form id="search_form">
        <div class="form-group col-md-3">
            <div class="input-group">
                <input type="text" class="form-control " name="name" placeholder="品类名称">
                <span class="input-group-btn">
                     <button type="button" class="btn btn-primary search_button" data-table=".cdtable" data-url="{:url('admin/enter_category/index')}">&nbsp;&nbsp;<i class="fa fa-search" aria-hidden="true"></i>&nbsp;查询&nbsp;&nbsp;</button>
                </span>
            </div>
        </div>
    </form>
    <div class="form-group col-md-9 padding-right-0">
        <div class="btn-actions pull-right">
                <a  href="{:url('admin/enter_category/create')}"><button type="button" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> 新增 </button></a>
        </div>
    </div>
</div>

<table id="actTable" class="table table-bordered text-center cdtable"
       data-toggle="table"
       data-url="{:url('admin/enter_category/index')}"
       data-pagination="true"
       data-side-pagination="server"
       data-striped="true"
       data-sort-order="desc"
       data-query-params="paginateParams"
     >
    <thead>
    <tr>
        <th class="text-center" data-field="name">品类名称</th>
        <th class="text-center"  data-field="is_show" data-sortable="true">是否显示</th>
        <th class="text-center"  data-field="sort" data-sortable="true">顺序</th>
        <th class="text-center" data-field="create_time" data-sortable="true">创建时间</th>
        <th class="text-center" data-field="operation"> 操作</th>
    </tr>
    </thead>
</table>