<!DOCTYPE html>
<html class="no-js css-menubar height-full" lang="zh-cn">

<head>
    <title>忘记密码</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 移动设备 viewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <meta name="author" content="admui.com">
    <!-- 360浏览器默认使用Webkit内核 -->
    <meta name="renderer" content="webkit">
    <!-- 禁止搜索引擎抓取 -->
    <meta name="robots" content="nofollow">
    <!-- 禁止百度SiteAPP转码 -->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <!-- Chrome浏览器添加桌面快捷方式（安卓） -->
    <link rel="icon" type="image/png" href="/adminui/public/images/favicon.png">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Safari浏览器添加到主屏幕（IOS） -->
    <link rel="icon" sizes="192x192" href="/adminui/public/images/apple-touch-icon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Admui">
    <!-- Win8标题栏及ICON图标 -->
    <link rel="apple-touch-icon-precomposed" href="/adminui/public/images/apple-touch-icon.png">
    <meta name="msapplication-TileImage" content="../public/images/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#62a8ea">

    <!-- 图标 CSS -->
    <link rel="stylesheet" href="/adminui/public/fonts/web-icons/web-icons.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/adminui/public/themes/classic/global/css/bootstrap.css">

    <!-- Site CSS -->
    <link rel="stylesheet" href="/adminui/public/themes/classic/base/css/site.css" id="admui-siteStyle">

    <!-- 插件 CSS -->
    <link rel="stylesheet" href="/adminui/public/vendor/animsition/animsition.css">

    <link rel="stylesheet" href="/adminui/public/vendor/toastr/toastr.css">
    <!-- page CSS -->
    <link rel="stylesheet" href="/adminui/public/css/locked.css">

    <link rel="stylesheet" href="/admin/css/admin.css">

    <!--[if lte IE 9]>
    <meta http-equiv="refresh" content="0; url='http://www.admui.com/ie'"/>
    <![endif]--><!--[if lt IE 10]>
    <script src="/adminui/public/vendor/media-match/media.match.min.js"></script>
    <script src="/adminui/public/vendor/respond/respond.min.js"></script>
    <![endif]-->
    <script src="/adminui/public/vendor/jquery/jquery.min.js"></script>
    <script src="/plugins/jquery-validate/jquery.validate.min.js"></script>
</head>
<style>
    .login2{
        margin-top: 15px;
    }
</style>
<body class="page-locked layout-full page-dark">

<div class=" page animation-fade vertical-align text-center animsition-fade height-full">
    <div class="page-content vertical-align-middle" style="background: #ececec8a;">
        <form class="login-form"  method="post" id="reg" style="margin: 0px">
            <div class="login1">
                <h3 style="color: #408ed8;font-size: 34px;text-align: center;margin:0px">找回密码</h3>
                <div class="login2">
                    <input type="text" class="form-control input-lg" name="mobile" maxlength="11" placeholder="手机号码" id="account">
                </div>
                <div class="login2">
                    <input type="text" class="form-control password yzm input-lg"  name="code" placeholder="验证码" style="width:150px;float: left">
                    <button class="hq btn btn-block btn-primary btn-lg" type="button" id="code" style="width: 140px;float: right">点击获取</button>
                    <div style="clear: both"></div>
                </div>
                <div class="login2">
                    <input type="password" class="form-control password input-lg" placeholder="密码由6-12位数字或字母组成" name="password">
                </div>
                <div class="login2">
                    <input type="password" class="form-control password input-lg" placeholder="确认密码" name="repassword">
                </div>
                <div class="login2">
                    <button type="button" class="btn btn-block btn-primary btn-lg btn-save"  data-url="{:url('admin/site/forget')}">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="/adminui/public/vendor/toastr/toastr.js"></script>
<script src="/js/base.js"></script>
<script>
    //点击获取验证码时校验手机号
    var int=59;
    function getCode(){
        $("#code").attr("disabled",'disabled');
        i = self.setInterval(function () {
            $('#code').attr("disabled",'disabled').text(int + "s");
            int--;
            if(int<0){
                window.clearInterval(i);
                int = 59; //重新赋值
                $("#code").removeAttr("disabled").text("重新发送");//将按钮可用
            }
        }, 1000);
    }


    //注册发送验证码
    $('#code').click(function(){
        if($(this).attr('disabled') == 'disabled'){
            return false;
        }
        var account = $('#account').val();
        if(account == ''){
            toastr.error('联系电话不能为空'); return false;
        }
        if(!isPhoneNo(account)){
            toastr.error('联系电话格式错误'); return false;
        }
        var url="{:url('SendCode/sendCode')}";
        if($(this).attr('disabled') == 'disabled'){
            toastr.warning('请稍后再试');
            return false;
        }else {
            cstmpost('#code', url, {mobile: account}, function (res) {
                getCode();
                console.log(res);
                if (res.code == 1) {
                    toastr.success('短信发送成功');
                } else {
                    toastr.error(res.msg);
                }
            })
        }
    });


    // 验证密码
    $('#register_password').on('blur', function () {
        var pho = /^[A-Za-z0-9]{6,12}$/;
        if(!pho.test($(this).val())) {
            toastr.error('密码由6-12位数字或字母组成')
        }
    });



    // 验证手机号
    function isPhoneNo(phone) {
        var pattern = /^1[34578]\d{9}$/;
        return pattern.test(phone);
    }



</script>
</body>
</html>
