<link rel="stylesheet" href="/adminui/public/vendor/dropify/dropify.css">
<link rel="stylesheet" href="/adminui/public/vendor/select2/select2.css">
<script src="/adminui/public/vendor/select2/select2.full.min.js"></script>
<div class="nav-tabs-horizontal" data-approve="nav-tabs">
    <div class="tab-pane active" id="exampleTabsLineOne" role="tabpanel">
            <div class="form-group col-md-12">
                <div class="btn-actions pull-right">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-success btn-outline" id="edit_basic_btn">
                            <i class="icon wb-pencil" aria-hidden="true"></i>编辑
                        </button>

                        <a  class="btn btn-success btn-outline" href="{:url('admin/product/index')}">
                            <i class="icon wb-link-broken" aria-hidden="true"></i>返回
                        </a>
                    </div>
                </div>
            </div>
            {include file="product/show_basic_info" /}
            {include file="product/edit_basic_info" /}
        </div>
</div>

<script src="/adminui/public/vendor/dropify/dropify.min.js"></script>
<script src="/plugins/wangEditor-3.1.1/release/wangEditor.min.js"></script>

<link rel="stylesheet" href="/plugins/Magnific-Popup-master/dist/magnific-popup.css">
<script src="/plugins/Magnific-Popup-master/dist/jquery.magnific-popup.js"></script>
<script>
    //编辑按钮
    $('#edit_basic_btn').on('click',function () {
        $('.show_basic_info').hide();
        $('.edit_basic_info').show();
    });

    $('.test-popup-link').magnificPopup({
        type: 'image',
        closeOnContentClick: true,
        showCloseBtn:false,
        image: {
            verticalFit: false,
            tError:'加载失败'
        },
    });

</script>