<form class="edit_basic_info" hidden>
    <div class="form-group col-sm-12">
        <label class="col-sm-2 control-label "><span class="required">*</span> 商品名称：</label>
        <div class="col-md-4 ">
            <input type="text" class="form-control"   name="name" value="{$data['name']}" required >
        </div>
        <label class="col-sm-2 control-label "><span class="required">*</span> 所属商家：</label>
        <div class="col-md-4 ">
            <select name="company_id" class="form-control" data-plugin="select2">
                <option value="">请选择...</option>
                {foreach $company  as $k => $v}
                <option value="{$v['id']}" {$data['company_id']==$v['id']?'selected':''}>{$v['name']}</option>
                {/foreach}
            </select>
        </div>
    </div>

    <div class="form-group col-sm-12">
        <label class="col-sm-2 control-label "><span class="required">*</span> 标签：</label>
        <div class="col-md-4 ">
            <input type="text" class="form-control"   name="label" value="{$data['label']}" required data-rule-maxlength="15" >
        </div>
        <label class="col-sm-2 control-label "><span class="required">*</span> 商品简介：</label>
        <div class="col-md-4 ">
            <input type="text" class="form-control"   name="abstract" value="{$data['abstract']}" required data-rule-maxlength="20">
        </div>
    </div>

    <div class="form-group col-sm-12">
        <label class="col-sm-2 control-label "><span class="required">*</span> 价格：</label>
        <div class="col-md-4 ">
            <input type="number" class="form-control"   name="price" value="{$data['price']}" required  data-rule-number="true" >
        </div>
        <label class="col-sm-2 control-label "><span class="required">*</span> 会员价：</label>
        <div class="col-md-4 ">
            <input type="number" class="form-control"   name="vip_price" value="{$data['vip_price']}" required  data-rule-number="true">
        </div>
    </div>
    <div class="form-group col-sm-12">
        <label class="col-sm-2 control-label "> 划线价：</label>
        <div class="col-md-4 ">
            <input type="number" class="form-control"   name="line_price" value="{$data['line_price']}" required  data-rule-number="true" >
        </div>
        <label class="col-sm-2 control-label "><span class="required">*</span> 库存：</label>
        <div class="col-md-4 ">
            <input type="number" class="form-control"   name="stock" value="{$data['stock']}" required  data-rule-number="true">
        </div>
    </div>

    <div class="form-group col-md-12 padding-0">
        <label class="col-sm-2 control-label"><span class="required">*</span> 图片：</label>
        <div class="col-md-10">
            <div class="multi-upload">
                <img src="/admin/image/add_img.png" id="upload" class="upload-button">
                <input  type="file" style="display: none" name="file" id="file_id"  data-url="{:url('/admin/upload/ajaxUploads',['ext'=>'jpg,jpeg,png,gif','size'=>3])}" value='' multiple data-limit="5">
                <div class="preview_location" style="display: inline-block">
                    {foreach $data['img_array']  as $k=>$v}
                        <div style="position: relative;display: inline-block" >
                            <a class="test-popup-link" href="{$v}">
                                <img class="preview img_{$k}" src='{$v}'>
                            </a>
                            <img class="close" data-id="{$k}" src="/admin/image/close.png" style="position: absolute;right: -5px;top:0px
">
                        </div>
                    {/foreach}
                </div>
                <input name="img" value="" required style="display: none"/>
            </div>
            <span>最多上传5张图片</span>
        </div>
    </div>

    <label class="col-sm-2 control-label padding-bottom-20"><span class="required">*</span> 商品详情：</label>
    <div class="col-sm-10 padding-bottom-20">
        {:widget('common/form/richText',['name'=>'detail','role'=>'required','value'=>$data['detail']])}
    </div>

    <div class="form-group col-md-12">
        <label class="col-sm-2 control-label"><span class="required">*</span> 商家推荐：</label>
        <div class="col-sm-6">
            <div class="radio-custom radio-primary col-md-2">
                <input type="radio" name="is_recommend" value="1" {$data->getData('is_recommend') != 2?'checked':''}>
                <label>是</label>
            </div>
            <div class="radio-custom radio-primary col-md-2">
                <input type="radio" name="is_recommend" value="2" {$data->getData('is_recommend') == 2?'checked':''}>
                <label>否</label>
            </div>
        </div>
    </div>

    <div class="form-group col-md-12">
        <label class="col-sm-2 control-label"><span class="required">*</span> 状态：</label>
        <div class="col-sm-6">
            <div class="radio-custom radio-primary col-md-2">
                <input type="radio" name="status" value="1" {$data->getData('status') != 2?'checked':''}>
                <label>上架</label>
            </div>
            <div class="radio-custom radio-primary col-md-2">
                <input type="radio" name="status" value="2" {$data->getData('status') == 2?'checked':''}>
                <label>下架</label>
            </div>
        </div>
    </div>


    <h4 class="padding-bottom-10 btborder">分类属性</h4>
    <div class="form-group col-sm-12">
        <label class="col-sm-2 control-label "><span class="required">*</span> 所属分类：</label>
        <div class="col-md-4 ">
            <style>
                .select2-container{
                    z-index: 11111;
                }
            </style>
            <select name="category_id" class="form-control" data-plugin="select2" required>
                <option value="">请选择...</option>
                {foreach $category  as $k => $v}
                <option value="{$v['id']}" {$data['category_id'] == $v['id'] ?'selected':''}>{$v['name']}</option>
                {/foreach}
            </select>
        </div>
    </div>

    <div class="form-group col-sm-12 product_attr">
        {if !empty($data['product_attr'])}
        {foreach $data['product_attr'] as $k => $v}
            <label class="col-sm-2 control-label margin-bottom-10"><span class="required">*</span> {$v['category_attr_name']}：</label>
            <div class="col-md-4 margin-bottom-10">
                <input type="text" class="form-control"   name="attr[{$v['category_attr_id']}]" value="{$v['value']}" required   >
            </div>
        {/foreach}
        {/if}
    </div>



    <div class="form-group col-md-12 text-center">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary btn-outline "
                    data-url="<?=url('admin/product/edit',['id'=>$data['id']])?>" id="submit_btn">
                <i class="icon wb-cloud" aria-hidden="true"></i> 保存
            </button>
        </div>
    </div>
</form>

<script src="/adminui/public/vendor/blueimp-file-upload/jquery.ui.widget.js"></script>
<script src="/adminui/public/vendor/blueimp-file-upload/jquery.iframe-transport.js"></script>
<script src="/adminui/public/vendor/blueimp-file-upload/jquery.fileupload.js"></script>

<link rel="stylesheet" href="/plugins/Magnific-Popup-master/dist/magnific-popup.css">
<script src="/plugins/Magnific-Popup-master/dist/jquery.magnific-popup.js"></script>

<script>
    $('select[name="category_id"]').on('change',function () {
        var url = "{:url('admin/product_category/attr')}";
        $('.product_attr').empty();
        if($(this).val()){
            $.post(url,{category_id:$(this).val(),product_id:"{$data['id']}"},function (data) {
                if(data.success == 1){
                    var _data = data.data;
                    if(_data != []){
                        for (var i=0;i<_data.length;i++)
                        {
                            $('.product_attr').append('<label class="col-sm-2 control-label margin-bottom-10"><span class="required">*</span> '
                                +_data[i].name+'</label>\n' +
                                '        <div class="col-md-4 margin-bottom-10">\n' +
                                '            <input type="text" class="form-control"   name="attr['+_data[i].id+']" value="'+_data[i].value+'" required   >\n' +
                                '        </div>');
                        }

                    }
                }else{
                    toastr.error(data["msg"]);
                }
            });
        }
    })

    /**
     * 多图上传
     */

    $('#upload').click(function () {
        $('#file_id').click();
    });

    $('#file_id').fileupload({
        dataType: 'json',
        sequentialUploads:false,
        //验证最多上传数量
        change: function (e, data) {
            var limit = $(this).data('limit')||5;
            var upload_num_1 = data.files.length,upload_num_2 =  $('.preview_location').find('.preview').length;
            if(upload_num_1+upload_num_2 > limit){
                toastr.error('最多上传'+limit+'张图片');return false;
            }
        },
        //上传成功回调
        done: function (e, data) {
            var file = data.result;
            if(file.code == 1){
                var data = file.data[0];
                $('.preview_location').append('<div style="position: relative;display: inline-block" > <a class="test-popup-link" href="'+data.path+'"><img class="preview img_'+data.id+'" src='+data.path+' title='+data.fileName+'></a><img class="close" data-id="'+data.id+'" src="/admin/image/close.png" style="    position: absolute;right: -5px"></div>');

                $('.test-popup-link').magnificPopup({
                    type: 'image',
                    closeOnContentClick: true,
                    showCloseBtn:false,
                    image: {
                        verticalFit: false,
                        tError:'加载失败'
                    },
                });
            }else{
                toastr.error('上传失败:'+file.msg);
            }
        }
    });

    //删除图片
    $('.preview_location').on('click','.close',function () {
        var id = $(this).data('id');
        $('.preview_location .img_'+id).remove();
        $(this).remove();
    });

    //保存表单
    $("body").on('click','#submit_btn',function () {
        var form= $(this).closest("form"),url = $(this).data('url');
        var img = '';
        $(".preview_location .preview").each(function(){
            img == ''?img = $(this).attr('src'):img += ','+$(this).attr('src');
        });
        $('input[name="img"]').val(img);
        //验证
        var flag = form.valid();
        if(!flag){
            return;
        }
        var data=serializeData(form);

        $.post(url, data, function (res) {
            if (res["success"]) {
                toastr.success(res["msg"]);
                setTimeout(function(){
                    if(res['url']){
                        location.href=res['url'];
                    }else{
                        location.reload();
                    }

                },1000);
            } else {
                toastr.error(res["msg"]);
            }
        });
    });

</script>