<div class="example">
    <form id="search_form">
        <div class="form-group col-md-3">
            <div class="input-group">
                <input type="text" class="form-control " name="info" placeholder="商品名称/标签">
                <span class="input-group-btn">
                     <button type="button" class="btn btn-primary search_button" data-table=".cdtable" data-url="{:url('admin/product/index')}">&nbsp;&nbsp;<i class="fa fa-search" aria-hidden="true"></i>&nbsp;查询&nbsp;&nbsp;</button>
                </span>
            </div>
        </div>
    </form>
    <div class="form-group col-md-9 padding-right-0">
        <div class="btn-actions pull-right">
                <a  href="{:url('admin/product/create')}"><button type="button" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> 新增 </button></a>
        </div>
    </div>
</div>

<table id="actTable" class="table table-bordered text-center cdtable"
       data-toggle="table"
       data-url="{:url('admin/product/index')}"
       data-pagination="true"
       data-side-pagination="server"
       data-striped="true"
       data-sort-order="desc"
       data-query-params="paginateParams"
     >
    <thead>
    <tr>
        <th class="text-center" data-field="name">商品名称</th>
        <th class="text-center" data-field="label">标签</th>
        <th class="text-center" data-field="company_name">商家名称</th>
        <th class="text-center"  data-field="category_name" >分类名称</th>
        <th class="text-center"  data-field="price" data-sortable="true">普通价</th>
        <th class="text-center"  data-field="vip_price" data-sortable="true">会员价</th>
        <th class="text-center"  data-field="status" data-sortable="true">状态</th>
        <th class="text-center"  data-field="is_recommend" data-sortable="true">商家推荐</th>
        <th class="text-center" data-field="operation"> 操作</th>
    </tr>
    </thead>
</table>