<div class="col-sm-2 "></div>
<div class="col-sm-8">
    <form  enctype="multipart/form-data" id="memo_form">
        <label class="col-sm-2 control-label padding-bottom-20">原始密码<span class="required">*</span></label>
        <div class="col-md-10 padding-bottom-20">
            <input type="password" class="form-control"   name="oldpassword" value="" minlength="6" placeholder="密码不能小于6位数" >
        </div>

        <label class="col-sm-2 control-label padding-bottom-20">新密码<span class="required">*</span></label>
        <div class="col-md-10 padding-bottom-20">
            <input type="password" class="form-control"   name="newpassword" value="" minlength="6" placeholder="密码不能小于6位数">
        </div>

        <label class="col-sm-2 control-label padding-bottom-20">确认密码<span class="required">*</span></label>
        <div class="col-md-10 padding-bottom-20">
            <input type="password" class="form-control"   name="confirm" value="" minlength="6" placeholder="密码不能小于6位数" >
        </div>

        <div class="form-group margin-top-25" style="text-align: center">
            <button  class="btn btn-primary margin-right-10" type="button" data-href="<?=url('admin/user/changePassword')?>" id="submit_btn">保存</button>
        </div>
    </form>
</div>
<div class="col-sm-2 "></div>
<script>
    //保存
    $("#submit_btn").click(function () {
        var data=serializeData("#memo_form");
        var url = $(this).data('href');
        cstmpost("#submit_btn", url, data, function (res) {
            if (res["success"]) {
                toastr.success(res["msg"]);
                setTimeout(function(){
                    location.href="{:url('admin/login/logout')}";
                },1000);
            } else {
                toastr.error(res["msg"]);
            }
        });
    });
</script>