<style>
    #panel-body{
        padding: 0px;
        background: #f1f4f5;
    }
</style>
<link rel="stylesheet" href="/adminui/public/css/system/account.css">
<div style="margin-top: 20px" class="row page-account col-md-12">
    <div class="row">
        <div class="col-md-3">
            <div class="widget widget-shadow text-center">
                <div class="widget-header">
                    <div class="widget-header-content">
                        <a class="avatar avatar-lg" href="javascript:;">
                            <img src="/adminui/public/images/avatar.svg">
                        </a>
                        <h4 class="account-user">{$user->name}</h4>
                        {if isset($user->user_role)}
                            <p>权限：{$user->user_role->role_name}</p>
                        {/if}
                        <p>上次登录：{$user->last_login_time}</p>
                    </div>
                </div>
                <!--<div class="widget-footer">-->
                    <!--<div class="row no-space">-->
                        <!--<div class="col-xs-4">-->
                            <!--<strong class="account-stat-count">{$user->login_times}</strong> <span>登录</span>-->
                        <!--</div>-->
                        <!--<div class="col-xs-4">-->
                            <!--<strong class="account-stat-count msg-number">180</strong> <span>消息</span>-->
                        <!--</div>-->
                        <!--<div class="col-xs-4">-->
                            <!--<strong class="account-stat-count log-number">{$user->status_alias}</strong> <span>状态</span>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel">
                <div class="panel-body nav-tabs-animate">
                    <ul class="nav nav-tabs nav-tabs-line" role="tablist">
                        <li class="news accout-msg active" role="presentation">
                            <a href="#message" aria-controls="message" role="tab" data-toggle="tab">
                                <i class="icon fa-comment-o" aria-hidden="true"></i> 消息
                                <span class="badge badge-danger"></span>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#password" aria-controls="password" role="tab" data-toggle="tab">
                                <i class="icon fa-key" aria-hidden="true"></i> 修改密码
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content margin-top-15">
                        <div class="tab-pane animation-slide-left tab-message active" role="tabpanel" id="message">
                            <div id="messageLists">
                                <p class="text-center height-150 vertical-align">
                                    <small class="vertical-align-middle opacity-four">消息加载中.....</small>
                                </p>
                            </div>
                        </div>

                        <div class="tab-pane animation-slide-left tab-message" role="tabpanel" id="password">
                            <div class="col-sm-6 col-sm-offset-3 margin-vertical-35">
                                <form id="accountMsg" >
                                    <div class="form-group">
                                        <input type="password"  name="oldpassword" class="form-control" placeholder="请输入原始密码" autocomplete="off">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="newpassword" class="form-control" placeholder="请输入新密码" autocomplete="off" data-plugin="strength">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="confirm"  class="form-control" placeholder="请再次输入新密码" autocomplete="off">
                                    </div>
                                    <div class="form-group"  style="text-align: center">
                                        <button type="button"  data-href="<?=url('admin/user/changePassword')?>" class="btn btn-primary btn-save">确认修改</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

