<link rel="stylesheet" href="/adminui/public/vendor/dropify/dropify.css">
<link rel="stylesheet" href="/adminui/public/vendor/select2/select2.css">
<style>
    .detail-view td{
        text-align: left;
        background: #fff;
    }
</style>
<script src="/adminui/public/vendor/select2/select2.full.min.js"></script>
<div class="nav-tabs-horizontal" data-approve="nav-tabs">
    <div class="show_basic_info">
        <h4 class="padding-bottom-10 btborder">基本信息</h4>
        <div class="form-group col-sm-12">
            <label class="col-sm-2 control-label "><span class="required">*</span> 订单编号：</label>
            <div class="col-md-4 ">
                <input type="text" class="form-control readonly" readonly   value="{$data['order_sn']}" required >
            </div>
            <label class="col-sm-2 control-label "><span class="required">*</span> 会员名称：</label>
            <div class="col-md-4 ">
                <input type="text" class="form-control readonly" readonly   value="{$data['customer_mobile']}" required >
            </div>
        </div>

        <div class="form-group col-sm-12">
            <label class="col-sm-2 control-label "><span class="required">*</span> 订单金额：</label>
            <div class="col-md-4 ">
                <input type="text" class="form-control readonly"  readonly  value="{$data['total_price']}"  required >
            </div>
            <label class="col-sm-2 control-label "><span class="required">*</span> 支付方式：</label>
            <div class="col-md-4">
                <input type="text" class="form-control readonly"  readonly name="mobile" value="{$data['pay_type']}"  required data-rule-mobile="true">
            </div>
        </div>
        <div class="form-group col-sm-12">
            <label class="col-sm-2 control-label "><span class="required">*</span> 交易单号：</label>
            <div class="col-md-4 ">
                <input type="text" class="form-control readonly"  readonly  value="{$data['pay_sn']}"  required >
            </div>
            <label class="col-sm-2 control-label "><span class="required">*</span> 支付时间：</label>
            <div class="col-md-4">
                <input type="text" class="form-control readonly"  readonly name="mobile" value="{$data['pay_time']}"  required data-rule-mobile="true">
            </div>
        </div>

        <div class="form-group col-sm-12">
            <label class="col-sm-2 control-label "><span class="required">*</span> 订单状态：</label>
            <div class="col-md-4 ">
                <input type="text" class="form-control readonly"  readonly  value="{$data['status']}"  required >
            </div>
            <label class="col-sm-2 control-label "><span class="required">*</span> 创建时间：</label>
            <div class="col-md-4">
                <input type="text" class="form-control readonly"  readonly name="mobile" value="{$data['create_time']}"  required data-rule-mobile="true">
            </div>
        </div>

        <h4 class="padding-bottom-10 btborder">商品信息</h4>
        <table id="actTable" class="table table-bordered text-center cdtable"
               data-toggle="table"
               data-url="{:url('admin/order_attr/index',['order_id'=>$data['id']])}"
               data-pagination="false"
               data-side-pagination="server"
               data-striped="true"
               data-sort-order="desc"
               data-query-params="paginateParams"
               data-detail-view="true"
               data-detail-formatter="detailFormatter"
        >
            <thead>
            <tr>
                <th class="text-center" data-field="product_name" data-sortable="true">商品名称</th>
                <th class="text-center" data-field="img_url">图片</th>
                <th class="text-center" data-field="count" data-sortable="true">商品数量</th>
                <th class="text-center"  data-field="price">价格</th>
            </tr>
            </thead>
        </table>
    </div>
</div>

<script src="/adminui/public/vendor/dropify/dropify.min.js"></script>
<script>
    function detailFormatter(index, row) {
        var attr = row.product_attr;
        var html = [];
        $.each(attr, function (key, value) {
            html.push('<p><b>' + key + ':</b> ' + value + '</p>');
        });
        return html.join('');
    }
</script>