<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="free-educational-responsive-web-template-webEdu">
    <meta name="author" content="webThemez.com">
    <title>壹能时空</title>
    <link rel="stylesheet" href="/frontend/css/bootstrap.min.css">
    <link rel="stylesheet" href="/frontend/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="shortcut icon" href="/frontend/images/favicon.ico">

    <link rel="stylesheet" href="/fonts/glyphicons/glyphicons.css">
    <link rel="stylesheet" href="/adminui/public/fonts/web-icons/web-icons.css">
    <link rel="stylesheet" href="/adminui/public/fonts/themify/themify.css">

    <link rel="stylesheet" href="/frontend/iconfont/demo.css"><!--阿里图库-->
    <link rel="stylesheet" href="/frontend/iconfont/iconfont.css"><!--阿里图库-->

    <link rel="stylesheet" href="/adminui/public/vendor/toastr/toastr.css">
    <link rel="stylesheet" href="/frontend/css/style.css">
    <link rel="stylesheet" href="/frontend/css/public.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/frontend/js/html5shiv.js"></script>
    <script src="/frontend/js/respond.min.js"></script>
    <![endif]-->
    <script src="/frontend/js/jquery-2.1.3.min.js"></script>
    <script src="/frontend/js/bootstrap.min.js"></script>
</head>
<body>
<!--导航-->
<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <!-- Button for smallest screens -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href=""><img class="navbar-brand" src="/frontend/images/logo.png" alt=""></a>
        </div>
        {include file="layout/menu" /}
    </div>
</div>
{__CONTENT__}
{include file="layout/footer" /}
<script src="/frontend/js/public.js"></script>
<script src="/frontend/js/transition.js"></script><!--轮播-->
<script src="/frontend/js/carousel.js"></script><!--轮播-->
<script src="/adminui/public/vendor/toastr/toastr.js"></script>
<!--自定义-->
<script src="/js/base.js"></script>
</body>
</html>