<link rel="stylesheet" href="/plugins/city-picker/city-picker.css">
<link rel="stylesheet" href="/adminui/public/vendor/dropify/dropify.css">
<form>
    <div class="form-group col-sm-12">
        <label class="col-sm-2 control-label "><span class="required">*</span> 标题：</label>
        <div class="col-md-4 ">
            <input type="text" class="form-control"   name="title" value="" required >
        </div>
        <label class="col-sm-2 control-label "><span class="required">*</span> 信息类型：</label>
        <div class="col-md-4 ">
            <select name="category_id" class="form-control ">
                {foreach $category  as $k => $v}
                <option value="{$k}">{$v}</option>
                {/foreach}
            </select>
        </div>
    </div>

    <div class="form-group col-sm-12">
        <label class="col-sm-2 control-label"><span class="required">*</span> 地区：</label>
        <div class="col-md-4">
            <div id="dist" style="border: 1px solid #e4eaec;border-radius: 3px">
                <div class="form-group" style="overflow: hidden;padding-left: 10px">
                    <input  class="form-control"   type="text" data-toggle="city-picker" value="" >
                </div>
            </div>
            <input  class="form-control" name="region_id"  type="hidden" required>
        </div>
        <label class="col-sm-2 control-label "><span class="required">*</span> 详细地址：</label>
        <div class="col-md-4">
            <input type="text" class="form-control"   name="address" value="" required >
        </div>
    </div>

    <div class="form-group col-sm-12">
        <label class="col-sm-2 control-label "><span class="required">*</span> 联系人：</label>
        <div class="col-md-4 ">
            <input type="text" class="form-control"   name="linkman" value="" required >
        </div>
        <label class="col-sm-2 control-label "><span class="required">*</span> 联系方式：</label>
        <div class="col-md-4">
            <input type="text" class="form-control"   name="mobile" value="" required>
        </div>
    </div>
    <div class="form-group col-sm-12">
        <label class="col-sm-2 control-label">面积：</label>
        <div class="col-md-4">
            <div class="form-group">
                <div class="input-group">
                    <input type="number" class="form-control"   name="area" value="" >
                    <span class="input-group-addon">平米</span>
                </div>
            </div>
        </div>
        <label class="col-sm-2 control-label">数量：</label>
        <div class="col-md-4">
            <input type="number" class="form-control"   name="number" value="" >
        </div>
    </div>
    <div class="form-group col-sm-12">
        <label class="col-sm-2 control-label">价格：</label>
        <div class="col-md-4">
            <input type="number" class="form-control col-md-3"   name="price" value="" style="width: 80%">
            <select name="unit" class=" form-control col-md-1" style="width: 18%;float:right">
                <option value="元/平">元/平</option>
                <option value="元/月">元/月</option>
                <option value="元/年">元/年</option>
                <option value="元">元</option>
            </select>
        </div>
    </div>

    <div class="form-group col-md-12 padding-0">
        <label class="col-sm-2 control-label"><span class="required">*</span> 封面图片：</label>
        <div class="col-md-4">
            <input type="hidden"   name="img" id="file_id" class="opt-require" value=''>
            <input type="file" class="form-control" id="input-file-now"   data-id="file_id" data-url="{:url('/admin/upload/ajaxUploads')}"  onchange="uploadImage($(this))"  data-plugin="dropify" data-default-file="" required>
            <span>支持jpg,jpeg,png,gif格式,大小不超过3M</span>
        </div>
    </div>
        <label class="col-sm-2 control-label padding-bottom-20"><span class="required">*</span> 详细内容：</label>
         <div class="col-sm-10 padding-bottom-20">
             <div id="editor"></div>
             <input name="detail" hidden required id="content">
         </div>

    <div class="form-group margin-top-25" style="text-align: center">
        <button  class="btn btn-primary margin-right-10 btn-save" type="button" data-href="<?=url('admin/message/create',['status'=>1])?>" id="submit_btn" >保存草稿</button>
        <button  class="btn btn-success margin-right-10 btn-save" type="button" data-href="<?=url('admin/message/create',['status'=>2])?>" id="release">立即发布</button>
    </div>
    </form>
<!--选择城市-->
<script src="/plugins/city-picker/city-picker.data.js"></script>
<script src="/plugins/city-picker/city-picker.js"></script>

<script src="/adminui/public/vendor/dropify/dropify.min.js"></script>

<script src="/plugins/wangEditor-3.1.1/release/wangEditor.min.js"></script>
<script>
    //地区选择控件
    $.each($('[data-toggle="city-picker"]'), function () {
        $(this).citypicker();
    });
    function initDistinct(code,title){
        $("input[name='region_id']").val(code);
    }

    var E = window.wangEditor,editor = new E('#editor');
    editor.customConfig.uploadImgServer = "{:url('admin/upload/ajaxUploads',['dir'=>'rich_text'])}";
    editor.customConfig.onchange = function (html) {
        // 监控变化，同步更新到 textarea
        $('#content').val(html);
    };
    editor.create();
</script>