{include file="admin@frontend_message/tab" /}
<div class="example">
    <form id="search_form">
        <div class="form-group col-md-2 ">
            <input type="text" class="form-control" name="info" placeholder="标题/联系人/联系方式">
        </div>
        <div class="form-group col-md-2 ">
            <div class="input-group">
                <select name="category_id" class="form-control">
                    <option value="">分类名称</option>
                    {foreach $category  as $k => $v}
                    <option value="{$k}">{$v}</option>
                    {/foreach}
                </select>
                <span class="input-group-btn">
                     <button type="button" class="btn btn-primary search_button" data-table=".cdtable" data-url="{:url('admin/frontend_message/index')}">&nbsp;&nbsp;<i class="fa fa-search" aria-hidden="true"></i>&nbsp;查询&nbsp;&nbsp;</button>
                </span>
            </div>
        </div>
    </form>
    <div class="form-group col-md-8 padding-right-0">
        <div class="btn-actions pull-right">
            <a href="{:url('admin/frontend_message/create')}"><button class="btn btn-success search_button"><i class="fa fa-plus" aria-hidden="true"></i> 新增 </button></a>
        </div>
    </div>
</div>

<table class="table table-bordered text-center cdtable"
       data-toggle="table"
       data-url="{:url('admin/frontend_message/index')}"
       data-pagination="true"
       data-side-pagination="server"
       data-striped="true"
       data-sort-order="desc"
     >
    <thead>
    <tr>
        <th class="text-center" data-field="title" data-sortable="true">标题</th>
        <th class="text-center" data-field="category_name" data-sortable="true">分类名称</th>
        <th class="text-center" data-field="linkman" >联系人</th>
        <th class="text-center" data-field="mobile">联系方式</th>
        <th class="text-center" data-field="create_time" data-sortable="true">创建时间</th>
        <th class="text-center" data-formatter="actFmt"> 操作</th>
    </tr>
    </thead>
</table>

<script>
    //操作
    function actFmt(value, row, index) {
        var delete_url = "{:url('admin/frontend_message/delete')}?id="+row.id,show_url = "{:url('admin/frontend_message/show')}?id="+row.id,off_url = "{:url('admin/frontend_message/off')}?id="+row.id;
        return '<a type="button" class="btn btn-outline btn-success btn-sm" href="'+show_url+'">' + ' 查看' + '</a> ' +
                '<button type="button" class="btn btn-outline btn-warning btn-sm" data-toggle="confirm" data-message="确定下线吗?"  data-url="'+off_url+'">' + ' 下线' + '</button> '+
            '<button type="button" class="btn btn-outline btn-dark btn-sm" data-toggle="confirm" data-message="确定删除此信息吗?"  data-url="'+delete_url+'">' + ' 删除' + '</button>' ;
    }
</script>